<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/players">Back to Players</a>
        <a href="/players/<%=player.id%>/edit">Edit Team</a>
        <form action="/players/<%=player.id%>?_method=DELETE" method="post">
            <input type="submit" value="DELETE PlAYER">
        </form>
    </nav>
    <h1><%=player.name%></h1>
    <div>
        <p>Record: <%=player.number%></p>
        <p><%player.team%></p>
        <p>Conference: <%=player.touchdowns%></p>
        <p>Division: <%=player.position%></p>
    </div>
    <div>
        <a href="/teams">Teams</a>
    </div>
</body>
</html>