<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams/<%=player.teamId%>">Back to Team</a>
        <a href="/players/<%=player.id%>/edit">Edit Player</a>
        <form action="/players/<%=player.id%>?_method=DELETE" method="post">
            <input class="delete" type="submit" value="DELETE PLAYER">
        </form>
    </nav>
    <h1><%=player.name%></h1>
    <div>
        <p><%=player.team%></p>
        <p>Jersey Number: <%=player.number%></p>
        <p>Touchdowns this Season: <%=player.touchdowns%></p>
        <p>Position: <%=player.position%></p>
    </div>
</body>
</html>