<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams/<%=team.id%>">Back to Team Information</a>
    </nav>
    <h1>Edit Team Information</h1>
    <form class="form" action="/teams/<%=team.id%>?_method=PUT" method="post">
            <input class="form" type="text" name="name" value="<%=team.name%>">
            <input class="form" type="text" name="img" value="<%=team.img%>">
            <input class="form" type="text" name="record" value="<%=team.record%>">
            <input class="form" type="text" name="conference" value="<%=team.conference%>">
            <input class="form" type="text" name="division" value="<%=team.division%>">
            <label>Playoffs:
                <input class="check" type="checkbox" name="playoffs"
                <% if(team.playoffs === true) {%> checked <% } %>>
            </label>
            <input class="submit" type="submit" value="UPDATE">
    </form>
</body>
</html>