<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams/<%=team.id%>">Back to Team Information</a>
    </nav>
    <h1>Edit Team Information</h1>
    <form action="/teams/<%=team.id%>?_method=PUT" method="post">
        <label>
            <input type="text" name="name" value="<%=team.name%>">
        </label>
        <label>
            <input type="text" name="img" value="<%=team.img%>">
        </label>
        <label>
            <input type="text" name="record" value="<%=team.record%>">
        </label>
        <label>
            <input type="text" name="conference" value="<%=team.conference%>">
        </label>
        <label>
            <input type="text" name="division" value="<%=team.division%>">
        </label>
        <label>
            <input type="checkbox" name="playoffs"
            <% if(team.playoffs === true) {%> checked <% } %>>
        </label>
        <input type="submit" value="UPDATE">
    </form>
</body>
</html>